<p #para>see console for the output</p>
<button #myButton>Click</button>

<hr />

<button class="btn btn-primary" (click)="offFromConcatExample()">
  off from concat Example
</button>&nbsp;

<button class="btn btn-primary" (click)="mapExample()">
  map Example
</button>&nbsp;

<button class="btn btn-primary" (click)="mergeExample()">
  merge Example
</button>&nbsp;

<button class="btn btn-primary" (click)="takeExample()">
  take Example
</button>&nbsp;

<hr />

<button class="btn btn-primary" (click)="subjectExample()">
  Subject
</button>&nbsp;

<button class="btn btn-primary" (click)="behaviorSubjectExample()">
  BehaviorSubject
</button>&nbsp;

<button class="btn btn-primary" (click)="asyncSubjectExample()">
  AsyncSubject
</button>&nbsp;

<button class="btn btn-primary" (click)="replaySubjectExample()">
  ReplaySubject
</button>&nbsp;


<hr />
<button class="btn btn-primary" (click)="raiseEvent()">
  EventBus - Raise
</button>
