<div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>serialNo</th>
          <th>createdAt</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
  
          <td>{{ product.id }}</td>
          <td> {{ product.name }}</td>
          <td> {{ product.serialNo }}</td>
          <td> {{ product.createdAt }}</td>
          <td>
            <button class="btn btn-primary" (click)="selectProduct(product)"> Show details</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="card text-center" *ngIf="selectedProduct">
        <div class="card-header">
          # {{selectedProduct.id}}
        </div>
        <div class="card-block">
          <h4 class="card-title">{{selectedProduct.name}}</h4>
          <p class="card-text">
            {{selectedProduct.serialNo}}
          </p>    
        </div>
  
      </div>
  </div>