<div>
  <h3>{{title}}</h3>

  <!-- Select -->
  <div class="row">
    <div class="col col-md-4">
      <select class="form-select" [(ngModel)]="selectedCategory" (change)="categoryChanged(selectedCategory)">
        <option *ngFor="let category of categories" [ngValue]="category">
          {{ category.name }}
        </option>
      </select>
    </div>
  </div>

  <hr />

   <!-- Cards List -->
  <div class="row" *ngIf="notes$ | async as notes">
    <div *ngFor="let note of notes" class="col-4 my-3">
      <app-notes-card [note]="note"></app-notes-card>
    </div>
  </div>


  <p class="float-right"><b>Jawad Hasan Shani</b></p>
</div>
