<h4>Books World</h4>
<br />

<div class="book-page">

   <!-- Categories -->

   <div>
    <b>Categories</b>
    <div *ngIf="booksCategories$ | async as booksCategories" class="page-item">
      <ul class="list-group" *ngFor="let category of booksCategories">
        <button class="list-group-item" (click)="selectBookCategory(category.id)" [ngClass]="category.id === selectedCategoryId ? 'active': ''">
          {{category.categoryName}}
        </button>
      </ul>
    </div>
   </div>



  <!-- Books -->
<div class="books-list">
  <b>Books</b>
  <div *ngIf="books$ | async as books" >
     <ul class="list-group" *ngFor="let book of books">
       <button class="list-group-item"  (click)="selectBook(book)" [ngClass]="book.id === selectedBookId ? 'active': ''" >
        {{book.bookName}}
      </button>
     </ul>
   </div>

</div>


<!-- Selected Book -->
<div style="width: 18rem;" class="selected-book">
  <b>Selected Book</b>
  <div class="card"   *ngIf="selectedBook$ | async as selectedBook">
    <div class="card-body">
      <h5 class="card-title">{{selectedBook.bookName}}</h5>
      <p class="card-text">Category: {{selectedBook.bookCategoryId}}</p>
      <p class="card-text">Price: {{selectedBook.price}}</p>
    </div>
  </div>
</div>


</div>


