<p>{{title}}</p>

<div class="search-container">

  <input class="search-input" type="text" name="searchBox" /> &nbsp;

  <button class="button-round">
    <img src="assets/images/search.svg" class="search-img"/>
  </button>
</div>

<hr />

<div class="flex-container">
  <div class="flex-item">1</div>
  <div class="flex-item">2</div>
  <div class="flex-item">3</div>
  <div class="flex-item">4</div>
  <div class="flex-item">5</div>
</div>

<hr />


<p>CSS Animation</p>

<div class="demo-container">

  <div class="simple-div">simple-div</div>

  <svg xmlins="http://www.w3.org/2000/svg" id="simple-svg">
    <rect x="50" y="50" width="100" height="100" fill="green" stroke="blue" />
  </svg>
</div>

<hr />

<p>Grid Demo</p>

<div class="grid grid-a">
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
</div>

<div class="grid"></div>

<div class="clear"></div>
<br />


<button class="btn btn-primary" (click)="moveItems()" disabled>Move items</button> &nbsp;
<button class="btn btn-secondary" (click)="moveTimeout()" disabled>Move Timeout</button>
<hr />
