<div class="alert alert-danger" *ngIf="errorMssage$ | async as errorMessage">
  {{errorMessage}}
</div>

<section>
  Filter: <input id="searchFilter" name="searchFilter"
  [(ngModel)]="searchFilter" /> <br />
  display filter: {{searchFilter}}
</section>

<br />

<div class="container">
  <table class="table table-hover" *ngIf="users$ | async as users">
      <thead>
          <tr>
              <th>#</th>
              <th>First</th>
              <th>Last</th>
              <th>Email</th>
              <th>Actions</th>

          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let user of users; let i=index">
              <td>{{i+1}}</td>
              <td>{{ user.firstName }}</td>
              <td>{{ user.lastName }}</td>
              <td>{{ user.email }}</td>
              <td>
                <button class="btn btn-info" (click)="selectUser(user)">Select</button>
              </td>

          </tr>
      </tbody>
  </table>

</div>
